{% extends 'header.html' %}
{% block title %}Account{% endblock %}
{% load static %}
{% block cssLink %}<link rel="stylesheet" href="{% static 'css/account.css' %}">{% endblock %}


{% block header-title %}
    {% if isAuthenticated %}
        Account
    {% else %}
        SignUp
    {% endif %}
{% endblock %}

{% block header %}

{% if isAuthenticated %}
    <div class="nameHeader"> Welcome {{instance.name}}</div>

<div class="navContainer">
    <a href="/account/activeConnections"> <button class="btn">Active Connections</button></a>
    <a href="/account/addConnections"> <button class="btn">Add Connection</button></a>
    <a href="/account/feedback"> <button class="btn">Feedback</button></a>

    <form method="post" action="/account/logout">
        {% csrf_token %}
        <button id="logoutBtn" type="submit" class="btn">Logout</button>
    </form>
</div>

<div class="mainContainer">

</div>
{% else %}
<div class="align-vc" >
    <div class="formContainer" >
        <form action="/account/" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Enter Name" class="verificationInput" name="name" required>
            <br />
            <input type="email" placeholder="Email" class="verificationInput" name="email" required>
            <br />
            <input type="password" placeholder="Password" class="verificationInput" name="password" required>
            <br>
            <button class="Btn" type="submit">SignUp</button>
        </form>
        <br>
        <a href="/account/login" class="Btn" id="loginBtn">Or Login</a>
    </div>
</div>

{% endif %}




{% endblock %}