{% extends 'header.html' %}
{% block title %}ActiveConnections{% endblock %}
{% load static %}
{% block cssLink %}<link rel="stylesheet" href="{% static 'css/account.css' %}">{% endblock %}
{% block header %}
<style>
    #actBtn{
        color:#5F9EA0;
    }
</style>

    <div class="nameHeader"> Welcome {{instance.name}}</div>

<div class="navContainer">
    <a href="http://127.0.0.1:8000/account/activeConnections"> <button id="actBtn" class="btn">Active Connections</button></a>
    <a href="http://127.0.0.1:8000/account/addConnections"> <button class="btn">Add Connection</button></a>
    <form method="post" action="http://127.0.0.1:8000/account/logout">
        {% csrf_token %}
        <button id="logoutBtn" type="submit" class="btn">Logout</button>
    </form>
</div>

<div class="mainContainer">


</div>

<script>
    var connectionsArray=({{instance.activeConnections | safe}}).connections
    console.log("act: ",connectionsArray)
</script>





{% endblock %}