{% extends 'header.html' %}
{% block title %}ActiveConnections{% endblock %}
{% load static %}
{% block cssLink %}<link rel="stylesheet" href="{% static 'css/account.css' %}">{% endblock %}
{% block header %}
<style>
    #actBtn{
        color:#5F9EA0;
    }
</style>

    <div class="nameHeader"> Welcome {{instance.name}}</div>

<div class="navContainer">
    <a href="/account/activeConnections"> <button id="actBtn" class="btn">Active Connections</button></a>
    <a href="/account/addConnections"> <button class="btn">Add Connection</button></a>
    <a href="/account/feedback"> <button class="btn">Feedback</button></a>
    <form method="post" action="/account/logout">
        {% csrf_token %}
        <button id="logoutBtn" type="submit" class="btn">Logout</button>
    </form>
</div>

<div class="mainContainer">

    <div class="connectionContainer">

    </div>
</div>

<script>
    var connectionsArray=({{instance.activeConnections | safe}}).connections
    console.log("act: ",connectionsArray)
    var connectionContainer=document.querySelector('.connectionContainer')
    if(connectionsArray.length ==0){
        connectionContainer.innerHTML='No active Connections'
    }
    else{
        connectionsArray.map((result)=>{
            var newEle=document.createElement('div')
            newEle.classList.add('displayCards')
            newEle.innerHTML=result
            connectionContainer.appendChild(newEle)
        })
    }

</script>





{% endblock %}