{% extends 'header.html' %}
{% block title %}Add Connections{% endblock %}
{% load static %}
{% block cssLink %}<link rel="stylesheet" href="{% static 'css/account.css' %}">{% endblock %}
{% block header %}
<style>
    #actBtn{
        color:#5F9EA0;
    }
</style>

    <div class="nameHeader"> Welcome {{instance.name}}</div>

<div class="navContainer">
    <a href="http://127.0.0.1:8000/account/activeConnections"> <button  class="btn">Active Connections</button></a>
    <a href="http://127.0.0.1:8000/account/addConnections"> <button id="actBtn" class="btn">Add Connection</button></a>
    <a href="http://127.0.0.1:8000/account/feedback"> <button class="btn">Feedback</button></a>
    <form method="post" action="http://127.0.0.1:8000/account/logout">
        {% csrf_token %}
        <button id="logoutBtn" type="submit" class="btn">Logout</button>
    </form>
</div>

<div class="mainContainer">
    <div class="connectionContainer">

    </div>

<form id="sForm" method="post" >
    {% csrf_token %}
    <input type="hidden" id="requestEmail" name="reqEmail" value="">
</form>
</div>

<script>
    var usersArray={{instance1 | safe}}
    var connectionContainer=document.querySelector('.connectionContainer')
    var i=0
    var sForm=document.getElementById('sForm')
    var reqEmail=document.getElementById('requestEmail')
    usersArray.map((result)=>{
        var newEle=document.createElement('div')
        newEle.classList.add('displayCards')
        var newBtn=document.createElement('button')
        newBtn.classList.add('addConBtn')
        newBtn.innerHTML='Add'
        newBtn.id=i
        newEle.innerHTML=result
        newBtn.setAttribute('onclick',`sendRequest(${i})`)
        console.log(newEle)
        newEle.appendChild(newBtn)

        connectionContainer.appendChild(newEle)
        i++
    })

    function sendRequest(id){
        var x=usersArray[id]
        reqEmail.value=x
        sForm.submit()
        alert('Sent connection request to ',x)


    }

</script>





{% endblock %}