{% extends 'dashboard.html' %}

{% load static %}

{% block title %}
    Assigned tasks
{% endblock %}

{% block dashboard-cssLink %}
    <link rel="stylesheet" href="{% static 'css/assignedTasks.css' %}" >
{% endblock %}    

{% block r-container %}
    <div id="assigned-tasks-container" >
        <h1 style="font-size: 35px; font-weight: 400;" >Assigned tasks</h1>
        <br />

        
        <!-- Task template starts -->
        <!-- <div class="for-click-description" id="fcd-my-1" >
            <div class="task-assigned" data-id="1" data-clicked="false" onclick="handleAssignedTaskClick(this)" >
                <div style="width: 2vw;" >1.</div>
                <div style="width: 40vw; overflow-wrap: anywhere;" >TasTask</div>
                <div style="width: 15vw;" >Deadline</div>
                <div style="width: 20vw;" >Assigned to</div>
            </div>
        
            <div id="assigned-1" class="fcd">
                <div style="width: 2vw; overflow: hidden;" >
                    <button style="display: flex; align-items: center; justify-content: center;" >
                        <img style="width: 15px; height: auto; margin: 0;" src="{% static 'resources/delete.svg' %}" alt="Delete task" />
                    </button>
                </div>
                <div style="width: 40vw; overflow-wrap: anywhere;" >aasdfasdfasdfasdfasdasfasdfasdfaasdfasdfasdfasdfasfasdfasdfasdfadsfasdffffffffffffffff</div>
                <div style="width: 3;" >Status</div>
                <div style="width: 3;" >
                <button>Update deadline</button>
            </div>
        </div> -->
        <!-- Task template ends -->


    </div>


    <script>
        const assignedTasksArray = {{instance.assignedTask|safe}}.tasks;
        console.log('tar: ', assignedTasksArray);

        const assignedTasksContainer = document.getElementById("assigned-tasks-container");
        var taskNumber = 1;

        assignedTasksArray.forEach(result => {
            console.log(result);

            const taskCard = createTaskCard(result, taskNumber);
            assignedTasksContainer.appendChild(taskCard);

            taskNumber++;
        });

        function createTaskCard(result, taskNumber) {
            const taskCardContainer = document.createElement("div");
            taskCardContainer.classList.add("for-click-description");
            taskCardContainer.id = "fcd-my-" + taskNumber;

            const taskCard = document.createElement("div");
            taskCard.classList.add("task-assigned");
            taskCard.setAttribute("data-id", taskNumber);
            taskCard.setAttribute("data-clicked", "false");
            taskCard.setAttribute("onclick", "handleAssignedTaskClick(this)");

            const taskCardDescription = document.createElement("div");
            taskCardDescription.id = "assigned-" + taskNumber;
            taskCardDescription.classList.add("fcd");

            const taskDescription = createTaskElement("div", "", result.Description);
            taskDescription.classList.add("task-description");
            const taskStatus = createTaskElement("div", "", result.Status);

            const taskDeleteBtnContainer = document.createElement("div");
            taskDeleteBtnContainer.classList.add("task-delete-btn-container");
            const taskDeleteBtn = document.createElement("button");
            taskDeleteBtn.setAttribute('onclick',`deleteForm(${taskNumber-1})`)
            taskDeleteBtn.classList.add("task-delete-btn");
            taskDeleteBtnContainer.appendChild(taskDeleteBtn);
            const taskDeleteBtnImg = document.createElement("img");
            taskDeleteBtnImg.classList.add("task-delete-btn-img");
            taskDeleteBtnImg.src = "{% static 'resources/delete.svg' %}";
            taskDeleteBtnImg.alt = "Delete task";
            taskDeleteBtn.appendChild(taskDeleteBtnImg);

            const taskUpdateDeadlineBtnContainer = document.createElement("div");
            const taskUpdateDeadlineBtn = createTaskElement("button", "", "Update deadline");
            taskUpdateDeadlineBtnContainer.appendChild(taskUpdateDeadlineBtn);
            
            taskCardDescription.appendChild(taskDeleteBtnContainer);
            taskCardDescription.appendChild(taskDescription);
            taskCardDescription.appendChild(taskStatus);
            taskCardDescription.appendChild(taskUpdateDeadlineBtnContainer);

            const taskNumberElement = createTaskElement("div", "0.2", taskNumber + ".");
            const taskDetailsElement = createTaskElement("div", "8", `<b>${result.Title}</b>`);
            const taskDeadlineElement = createTaskElement("div", "3", result.Deadline);
            const assignedToElement = createTaskElement("div", "4", result.Employed);

            taskCard.appendChild(taskNumberElement);
            taskCard.appendChild(taskDetailsElement);
            taskCard.appendChild(taskDeadlineElement);
            taskCard.appendChild(assignedToElement);

            taskCardContainer.appendChild(taskCard);
            taskCardContainer.appendChild(taskCardDescription);

            return taskCardContainer;
        }

        function createTaskElement(elementType, flexGrow, content) {
            const element = document.createElement(elementType);
            element.style.flexGrow = flexGrow;
            element.innerHTML = content;
            return element;
        }

        function handleAssignedTaskClick(ele) {
            ele.setAttribute("data-clicked", ele.getAttribute("data-clicked") == "false");
            const clicked = ele.getAttribute("data-clicked"), descriptionBox = document.getElementById("assigned-"+ ele.getAttribute("data-id"));

            if(clicked == "true")
                descriptionBox.style.height = descriptionBox.scrollHeight * 0.35 + "vh";
            else
                descriptionBox.style.height = "0";
        }

        function deleteForm(indx) {
            fetch('/deleteTask/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({'deletionId': indx})
            })
            .then(response => {
                if (!response.ok)
                    throw new Error('Network response was not ok');

                return response.json();
            })
            .then(data => {
                window.location.href="/assignedTasks"
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
{% endblock %}
