{% extends 'dashboard.html' %}

{% load static %}

{% block title %}
Assigned tasks
{% endblock %}

{% block dashboard-cssLink %}
<link rel="stylesheet" href="{% static 'css/assignedTasks.css' %}">
{% endblock %}

{% block r-container %}
<div id="assigned-tasks-container">
    <h1 class="h1-title" >Assigned tasks</h1>
    <hr class="hr" />
    <br />


    <!-- Task template starts -->
    <template data-task-template>
        <div class="for-click-description" >
            <div class="task-assigned" onclick="handleAssignedTaskClick(this)" data-id >
                <div data-s-no>S.no.</div>
                <div data-title>Title</div>
                <div data-deadline>Deadline</div>
                <div data-assigned-to>AssignedTo</div>
            </div>
            <div class="fcd" data-fcd>
                <div class="task-delete-btn-container">
                    <button class="task-delete-btn" data-delete-btn >
                        <img class="task-delete-btn-img" src="/static/resources/delete.svg" alt="Delete task">
                    </button>
                </div>
                <div class="task-description" data-description >Description</div>
                <div data-status >Status</div>
                <div data-change-deadline style="display: none;" >
                    <button>Update deadline</button>
                </div>
            </div>
        </div>
    </template>
    <!-- Task template ends -->


</div>


<script>
    const taskTemplate = document.querySelector("[data-task-template]")
    const ata = {{ instance.assignedTask| safe}}.tasks
    const atc = document.getElementById("assigned-tasks-container")
    var taskNumber = 1
    ata.forEach(result => {
        const tc = taskTemplate.content.cloneNode(true).children[0]
        const di = tc.querySelector("[data-id]")
        const no = tc.querySelector("[data-s-no]")
        const title = tc.querySelector("[data-title]")
        const deadline = tc.querySelector("[data-deadline]")
        const assignedTo = tc.querySelector("[data-assigned-to]")
        const fcd = tc.querySelector("[data-fcd]")
        const db = tc.querySelector("[data-delete-btn]")
        const description = tc.querySelector("[data-description]")
        const status = tc.querySelector("[data-status]")

        tc.id = "fcd-assigned-" + taskNumber
        di.setAttribute("data-id", taskNumber)
        no.innerHTML = taskNumber + "."
        title.innerHTML = `<b>${result.Title}</b>`
        deadline.innerHTML = "<x>Deadline:</x>&nbsp;" + result.Deadline
        assignedTo.innerHTML = "<x>Assigned to:</x>&nbsp;" + result.Employed
        fcd.id = "assigned-" + taskNumber
        db.setAttribute("onclick", `deleteForm(${taskNumber - 1})`)
        description.innerHTML = result.Description
        status.innerHTML = "<x>Status:</x>&nbsp;" + result.Status

        atc.appendChild(tc)

        taskNumber++
    })
    
    function deleteForm(indx) {
        fetch('/deleteTask/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'deletionId': indx })
        })
        .then(response => {
            if (!response.ok)
                throw new Error('Network response was not ok');
        
            return response.json();
        })
        .then(data => {
            window.location.href = "/assignedTasks"
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function handleAssignedTaskClick(ele) {
        const descriptionBox = document.getElementById("assigned-" + ele.getAttribute("data-id"));

        descriptionBox.classList.toggle("fcd-clicked")
    }
</script>
{% endblock %}