{% extends 'header.html' %}
{% block title %}Account{% endblock %}
{% load static %}
{% block cssLink %}
  <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock %}

{% block header-title %}
  Feedback
{% endblock %}

{% block header %}

<body>
<div class="feedback-container">

  <form method="post" action="/account/feedback">
    {% csrf_token %}
    <div class="form-group">
      <label for="feedback">Your feedback:</label>
      <textarea id="feedback" name="comments" required ></textarea>
    </div>

    <div style="display: flex; justify-content: right;" >
      <button type="submit" >Submit Feedback</button>
    </div>
  </form>
</div>

</body>

{% endblock %}