{% extends 'header.html' %}
{% block title %}Account{% endblock %}
{% load static %}
{% block cssLink %}<link rel="stylesheet" href="{% static 'css/feedback.css' %}">{% endblock %}
{% block header %}

<body>
<div class="container">
  <h1>Feedback</h1>

  <form method="post" >
    {% csrf_token %}
    <div class="form-group">
      <label for="comments">Your feedback:</label>
      <textarea id="comments" name="comments" rows="4" required ></textarea>
    </div>
    
    <div style="display: flex; justify-content: right;" >
      <button type="submit" >Submit Feedback</button>
    </div>
  </form>
</div>

<script>
    const ratingInput = document.getElementById('rating');
    const ratingValue = document.getElementById('ratingValue');
    ratingInput.addEventListener('input', function() {
        ratingValue.textContent = this.value;
    });
</script>
</body>

{% endblock %}