<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Header{% endblock %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% block cssLink %}{% endblock %}
</head>

<body>
<div class="header-container">
    {% if length %}
        <div id="notificationNumber">{{length}}</div>
    {% endif %}

    <div class="header-title" >{% block header-title %}{% endblock %}</div>

    <div class="header-navs" >
        <a href="/"><img src="{% static 'resources/home_svg.svg' %}" alt="home" id="homeLogo"> </a>
        <a href="/notification"><img src="{% static 'resources/bell_svg.svg' %}" alt="notification" id="bellLogo"></a>
        <a href="/account"><img src="{% static 'resources/account_svg.svg' %}" alt="account" id="accountLogo"></a>
    </div>
</div>

{% if length %}
<script>
    const bellLogo = document.getElementById("bellLogo");
    const notificationNumber = document.getElementById("notificationNumber");

    function positionNotificationNumber() {
        const bellLogoRect = bellLogo.getBoundingClientRect();
        const bellLogoWidth = bellLogo.offsetWidth;
        const bellLogoHeight = bellLogo.offsetHeight;

        const notificationNumberTop = bellLogoRect.top;
        const notificationNumberRight = bellLogoRect.right;

        notificationNumber.style.top = notificationNumberTop + 3 + "px";
        notificationNumber.style.right = (window.innerWidth - notificationNumberRight - (notificationNumberRight / 60) + (bellLogoWidth / 2)) + 6 + "px";
    }

    positionNotificationNumber();
</script>
{% endif %}


{% block header %}{% endblock %}


{% if messages %}
    {% for message in messages %}
        <div id="err-msg" >
            {{message}}
        </div>

        <script>
          setTimeout(() => {
            document.getElementById("err-msg").style.left = "3vw";
            setTimeout(() => {
              document.getElementById("err-msg").hidden = true;
            }, 2500);
          }, 500);
        </script>
    {% endfor %}
{% endif %}

</body>
</html>