{% extends 'header.html' %}
{% block title %}Home {% endblock %}
{% load static %}
{% block cssLink %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}

{% block header %}
{% if isAuthenticated %}

<!-- hi {{instance.name}}
{{instance.password}} -->

<div id="dashboard-container" >
  <h1>Dashboard</h1>

  <div id="lr-container" >
    <div id="l-container" >
      <button onclick="pendingTasks()" id="pending-tasks-btn" >Pending tasks</button>
      <button onclick="createTask()" id="create-task-btn" >Create task</button>
      <button onclick="assignedTasks()" id="assigned-tasks-btn" >Assigned tasks</button>
    </div>



    <div id="r-container" >

      <div id="pending-tasks-container" hidden >
        <h1>Pending tasks</h1>
        <br />
        <div class="task-assigned" >
          <div style="flex-grow: 0.2;" >1.</div>
          <div style="flex-grow: 8;" >
            Task Title
            <br />
            Description
          </div>
          <div style="flex-grow: 3;" >Deadline</div>
          <div style="flex-grow: 4;" >Assigned to</div>
        </div>
      </div>


      <div id="create-task-container" hidden >
        <h1>Create a Task</h1>
        <form id="sForm" method="post" action="/addTask/">
          {% csrf_token %}
          <input type="text" placeholder="TaskTitle" name="title" class="inputField">
          <br>
          <textarea id="textAr" name="description">TaskDescription</textarea>
          <br>
          <h2>Deadline</h2>
          <input type="date" id="deadlineDate" name="deadline">
          <h2 id="aTo">AssignTo</h2>
          <input type="hidden" id="assignTo" name="employed" value="">

        </form>

        <div class="availaibleMembers" id="memberContainer">


        </div>
        <button onclick="submitForm()" class="subBtn">Create</button>

      </div>

      <div id="assigned-tasks-container"  >

        <h1>Assigned tasks</h1>
        <br />


      </div>
    </div>
  </div>
</div>
<script>
<!--  var assignedTaskArray=({{instance.assignedTask | safe}}).tasks-->
<!--  console.log('tar: ',assignedTaskArray)-->
<!--  var cnt= document.getElementById('assigned-tasks-container')-->
<!--  var x=1-->
<!--  assignedTaskArray.map((result)=>{-->
<!--    console.log(result)-->
<!--    const taskCard = document.createElement("div");-->
<!--  taskCard.classList.add("task-assigned");-->

<!--  const taskNumber = document.createElement("div");-->
<!--  taskNumber.style.flexGrow = "0.2";-->
<!--  taskNumber.textContent = i + ".";-->

<!--  const taskDetails = document.createElement("div");-->
<!--  taskDetails.style.flexGrow = "8";-->
<!--  taskDetails.innerHTML = `<b>${result.Title}</b><br>${result.Description}`;-->

<!--  const taskDeadline = document.createElement("div");-->
<!--  taskDeadline.style.flexGrow = "3";-->
<!--  taskDeadline.textContent = result.Deadline;-->

<!--  const assignedTo = document.createElement("div");-->
<!--  assignedTo.style.flexGrow = "4";-->
<!--  assignedTo.textContent = result.Employed;-->

<!--  taskCard.appendChild(taskNumber);-->
<!--  taskCard.appendChild(taskDetails);-->
<!--  taskCard.appendChild(taskDeadline);-->
<!--  taskCard.appendChild(assignedTo);-->
<!--  cnt.appendChild(taskCard)-->
<!--  i++-->

<!--  })-->

var assignedTaskArray = {{ instance.assignedTask | safe }}.tasks;
console.log('tar: ', assignedTaskArray);

var assignedTasksContainer = document.getElementById('assigned-tasks-container');
var taskNumber = 1;

assignedTaskArray.forEach(result => {
  console.log(result);

  const taskCard = createTaskCard(result, taskNumber);
  assignedTasksContainer.appendChild(taskCard);

  taskNumber++;
});

function createTaskCard(result, taskNumber) {
  const taskCard = document.createElement("div");
  taskCard.classList.add("task-assigned");

  const taskNumberElement = createTaskElement("div", "0.2", taskNumber + ".");
  const taskDetailsElement = createTaskElement("div", "8", `<b>${result.Title}:&nbsp;</b>${result.Description}`);
  const taskDeadlineElement = createTaskElement("div", "3", result.Deadline);
  const assignedToElement = createTaskElement("div", "4", result.Employed);

  taskCard.appendChild(taskNumberElement);
  taskCard.appendChild(taskDetailsElement);
  taskCard.appendChild(taskDeadlineElement);
  taskCard.appendChild(assignedToElement);

  return taskCard;
}

function createTaskElement(elementType, flexGrow, content) {
  const element = document.createElement(elementType);
  element.style.flexGrow = flexGrow;
  element.innerHTML = content;
  return element;
}




  var sForm=document.getElementById('sForm')
  var availaibleMember=document.getElementById('memberContainer')
  var validMember=({{instance.activeConnections | safe}})['connections']
  var i=0
  validMember.map((result)=>{
    var newEle=document.createElement('div')
    newEle.classList.add('memberCard')
    newEle.id=i
    newEle.setAttribute('onclick',`buttonPicker(${i})`)
    newEle.innerHTML=result
    availaibleMember.appendChild(newEle)
    i++
  })

  var active;

  function buttonPicker(id)
  {
    if(active){
      active.classList.remove('active')
    }
    active=document.getElementById(id)
    active.classList.add('active')
    document.getElementById('assignTo').value=validMember[id]
  }

  function submitForm(){
    console.log(sForm);
      sForm.submit();
  }
</script>

<script>
  const pending_tasks_container = document.getElementById("pending-tasks-container");
  const create_task_container = document.getElementById("create-task-container");
  const assigned_tasks_div = document.getElementById("assigned-tasks-container");
  // const pending_tasks_btn = document.getElementById("pending-tasks-btn");
  // const create_task_btn = document.getElementById("create-task-btn");
  // const assigned_tasks_btn = document.getElementById("assigned-tasks-btn");

  function pendingTasks() {
    create_task_container.hidden = true;
    // create_task_btn.style.backgroundColor = "white";
    assigned_tasks_div.hidden = true;
    // assigned_tasks_btn.style.backgroundColor = "white";
    pending_tasks_container.hidden = false;
    // pending_tasks_btn.style.backgroundColor = "#e0e0e0";
  }
  
  function createTask() {
    pending_tasks_container.hidden = true;
    // pending_tasks_btn.style.backgroundColor = "white";
    assigned_tasks_div.hidden = true;
    // assigned_tasks_btn.style.backgroundColor = "white";
    create_task_container.hidden = false;
    // create_task_btn.style.backgroundColor = "#e0e0e0";
  }
  
  function assignedTasks() {
    pending_tasks_container.hidden = true;
    // pending_tasks_btn.style.backgroundColor = "white";
    create_task_container.hidden = true;
    // create_task_btn.style.backgroundColor = "white";
    assigned_tasks_div.hidden = false;
    // assigned_tasks_btn.style.backgroundColor = "#e0e0e0";
  }
</script>

{% else %}

<div id="col" >
  <div>
    <div id="home-div-p" >
      <p class="switch" id="create" >
        Create tasks,
      </p>
      <p class="switch" id="manage" >
        Manage them
      </p>
      <p class="switch"  id="assign" >
        Assign!
      </p>
    </div>

    <div>
      <a href="/account/login" class="btn" id="home-div-a" >Get started</a>
    </div>
  </div>

  <img src="{% static 'resources/bg.png' %}" />
</div>

<script>
  const c = document.getElementById("create"), m = document.getElementById("manage"), a = document.getElementById("assign");
  function styleFn() {
    setTimeout(() => {
      a.style.color = "black";
      a.style.opacity = "0.1";
      c.style.color = "#06D6A0";
      c.style.opacity = "1";
    }, 1000);

    setTimeout(() => {
      c.style.color = "black";
      c.style.opacity = "0.1";
      m.style.color = "#FF5E5B";
      m.style.opacity = "1";
    }, 2000);

    setTimeout(() => {
      m.style.color = "black";
      m.style.opacity = "0.1";
      a.style.color = "#118AB2";
      a.style.opacity = "1";
    }, 3000);

    setTimeout(() => {
      styleFn();
    }, 3000);
  }

  styleFn();
</script>
{% endif %}

{% if messages %}
    {% for message in messages %}
        <div id="err-msg" >
            {{message}}
        </div>

        <script>
          setTimeout(() => {
            document.getElementById("err-msg").style.left = "3vw";
            setTimeout(() => {
              document.getElementById("err-msg").hidden = true;
            }, 2500);
          }, 500);
        </script>
    {% endfor %}
{% endif %}

{% endblock %}
