<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">

 

</head>
<body>
  <div class="header-container">
    <div class="header-title" >
      Home
    </div>

    <div class="header-navs" >
      <a href="/"><img src="{% static 'resources/home_svg.svg' %}" alt="home" id="homeLogo"> </a>
      <a href="/notification"><img src="{% static 'resources/bell_svg.svg' %}" alt="notification" id="bellLogo"></a>
      <a href="/account"><img src="{% static 'resources/account_svg.svg' %}" alt="account" id="accountLogo"></a>
    </div>
</div>

<div id="col" >
  <div>
    <div id="home-div-p" >
      <p class="switch" id="create" >
        Create tasks,
      </p>
      <p class="switch" id="manage" >
        Manage them
      </p>
      <p class="switch"  id="assign" >
        Assign!
      </p>
    </div>

    <div>
      <a href="/account/login" class="btn" id="home-div-a" >Get started</a>
    </div>
  </div>

  <img src="{% static 'resources/bg.png' %}" />
</div>

<script>
  const c = document.getElementById("create"), m = document.getElementById("manage"), a = document.getElementById("assign");
  function styleFn() {
    setTimeout(() => {
      a.style.color = "black";
      a.style.opacity = "0.1";
      c.style.color = "#06D6A0";
      c.style.opacity = "1";
    }, 700);

    setTimeout(() => {
      c.style.color = "black";
      c.style.opacity = "0.1";
      m.style.color = "#FF5E5B";
      m.style.opacity = "1";
    }, 1400);

    setTimeout(() => {
      m.style.color = "black";
      m.style.opacity = "0.1";
      a.style.color = "#118AB2";
      a.style.opacity = "1";
    }, 2100);

    setTimeout(() => {
      styleFn();
    }, 2100);
  }

  styleFn();
</script>

{% if messages %}
    {% for message in messages %}
        <div id="err-msg" >
            {{message}}
        </div>

        <script>
          setTimeout(() => {
            document.getElementById("err-msg").style.left = "3vw";
            setTimeout(() => {
              document.getElementById("err-msg").hidden = true;
            }, 2500);
          }, 500);
        </script>
    {% endfor %}
{% endif %}

</body>
</html>
