{% extends 'dashboard.html' %}

{% load static %}

{% block title %}
My tasks
{% endblock %}

{% block dashboard-cssLink %}
<link rel="stylesheet" href="{% static 'css/assignedTasks.css' %}">

<style>
    .task-update-btn:hover {
        background-color: #87DF87 !important;
    }

    .task-update-btn-container {
        width: 1.5vw;
        overflow: hidden;
    }
    
    .task-update-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none !important;
        padding: 0.5vh !important;
    }

    .task-update-btn-img {
        width: 15px;
        height: auto;
        margin: 0;
    }

    .hide {
        display: none;
    }

    #update-dialog {
        background-color: #FFFFFF;
        box-shadow: 0 0 10px 2px #D5D5D5;
        z-index: 30;
        border: 1px solid black;
        border-radius: 10px;
        height: 20vh;
        width: 20vw;
        position: absolute;
        top: 35%;
        left: 35%;
        padding: 2vh;
    }

    #x-dialog {
        border: none;
        border-radius: 1px;
        height: 18px;
        width: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        margin-left: 18.8vw;
    }

    #x-dialog:hover {
        cursor: pointer;
        background-color: #ff7171;
    }

    label[for="updatedDeadline"], #updatedDeadline {
        font-size: larger;
    }

    #submit-deadline:hover {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block r-container %}
<div id="my-tasks-container">
    <h1 class="h1-title" >My tasks</h1>
    <hr class="hr" />
    <br />


    <!-- Task template starts -->
    <template data-task-template>
        <div class="for-click-description">
            <div class="task-my" onclick="handleMyTaskClick(this)" data-id>
                <div data-s-no>S.no.</div>
                <div data-title>Title</div>
                <div data-deadline>Deadline</div>
                <div data-assigned-by>AssignedBy</div>
            </div>
            <div class="fcd" data-fcd>
                <div class="task-update-btn-container">
                    <button class="task-update-btn" data-update-btn >
                        <img class="task-update-btn-img" src="/static/resources/complete.svg" alt="Update status">
                    </button>
                </div>
                <div class="task-description" data-description>Description</div>
                <div data-status>Status</div>
                <div data-change-deadline >
                    <button>Deadline extension</button>
                </div>
            </div>
        </div>
    </template>
    <!-- Task template ends -->


</div>

<div id="update-dialog" class="hide" >
    <button id="x-dialog" onclick="closeDialog()" >&#10006;</button>
    <br />
    <label for="updatedDeadline" >New deadline: </label>
    <input type="date" id="updatedDeadline" name="updatedDeadline" onchange="validateDate(this)" />
    <br /><br />
    <button id="submit-deadline" onclick="submitDeadline()" >Submit</button>
</div>


<script>
    const taskTemplate = document.querySelector("[data-task-template]")
    const mta = {{ instance.selfTask| safe}}.tasks
    const mtc = document.getElementById("my-tasks-container")
    var taskNumber = 1
    mta.forEach(result => {
        const tc = taskTemplate.content.cloneNode(true).children[0]
        const di = tc.querySelector("[data-id]")
        const no = tc.querySelector("[data-s-no]")
        const title = tc.querySelector("[data-title]")
        const deadline = tc.querySelector("[data-deadline]")
        const assignedBy = tc.querySelector("[data-assigned-by]")
        const fcd = tc.querySelector("[data-fcd]")
        const ub = tc.querySelector("[data-update-btn]")
        const description = tc.querySelector("[data-description]")
        const status = tc.querySelector("[data-status]")
        const cdb = tc.querySelector("[data-change-deadline]").querySelector("button")

        tc.id = "fcd-my-" + taskNumber
        di.setAttribute("data-id", taskNumber)
        no.innerHTML = taskNumber + "."
        title.innerHTML = `<b>${result.Title}</b>`
        deadline.innerHTML = "<x>Deadline:</x>&nbsp;" + result.Deadline
        assignedBy.innerHTML = "<x>Assigned by:</x>&nbsp;" + result.AssignedBy
        fcd.id = "my-" + taskNumber
        ub.setAttribute("onclick", `updateStatus(${taskNumber - 1}, this)`)
        description.innerHTML = result.Description
        status.innerHTML = "<x>Status:</x>&nbsp;" + result.Status
        cdb.setAttribute("onclick", `deadlineExtension(${taskNumber - 1})`)

        mtc.appendChild(tc)

        taskNumber++
    })

    function updateStatus(indx, ele) {
        if(ele.parentNode.parentNode.querySelector("[data-status]").textContent.slice(8) == "Completed") {
            alert("Task already marked as completed!")
            return
        }

        console.log("::" + indx)
        fetch('/updateStatus/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'updationId': indx })
        })
        .then(response => {
            if (!response.ok)
                throw new Error('Network response was not ok');

            return response.json();
        })
        .then(data => {
            window.location.href = "/myTasks"
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function handleMyTaskClick(ele) {
        const descriptionBox = document.getElementById("my-" + ele.getAttribute("data-id"));

        descriptionBox.classList.toggle("fcd-clicked")
    }

    function validateDate(ele) {
        const inputDate = ele.valueAsDate
        const currentDate = new Date()
            
        if(inputDate < currentDate) {
            currentDate.setDate(currentDate.getDate() + 1)
            ele.valueAsDate = currentDate
            alert("Invalid date!")
        }
    }

    // Disable deadline extension button if task is completed 
    document.querySelectorAll("[data-status]").forEach(ele => {
        if(ele.textContent.slice(8) == "Completed") {
            const disable = ele.parentNode.parentNode.querySelector("[data-change-deadline]").querySelector("button")
            disable.disabled = true
            disable.style.cursor = "default";
            disable.addEventListener("mouseover", () => {
                disable.style.backgroundColor = "white"
            })
        }
    })

    var dialogOpen = false
    var ind = 0

    function deadlineExtension(index) {
        ind = index
        if(!dialogOpen)
            document.getElementById("update-dialog").classList.remove("hide")
        
        setTimeout(() => {
            dialogOpen = !dialogOpen;
        }, 100)
    }

    function closeDialog() {
        dialogOpen = false
        document.getElementById("update-dialog").classList.add("hide")
    }

    document.addEventListener("click", (event) => {
        if(!event.target.matches("#update-dialog") && !event.target.matches("#submit-deadline") && !event.target.matches("#updatedDeadline") && !event.target.matches('label[for="updatedDeadline"]') && dialogOpen) {
            dialogOpen = !dialogOpen
            document.getElementById("update-dialog").classList.add("hide")
        }
    })

    function submitDeadline() {
        const updatedDeadline = document.getElementById("updatedDeadline").value
        if(updatedDeadline.trim() == "") {
            alert("Empty deadline!")
            document.getElementById("updatedDeadline").focus()
            return
        }

        fetch('/requestUpdate/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({'index': ind , 'updatedDeadline': updatedDeadline})
        })
        .then(response => {
            console.log(response)
            if(!response.ok)
                throw new Error("Network response was not OK")

            return response.json()
        })
        .then(data => {
            window.location.href = "/myTasks"
        })
        .catch(error => {
            console.error("Error: " + error)
        })
    }
</script>
{% endblock %}