{% extends 'header.html' %}
{% block title %}Notification{% endblock %}
{% load static %}
{% block cssLink %}
<link rel="stylesheet" href="{% static 'css/notification.css' %}">
{% endblock %}
{% block header %}
<div style="margin-top: 5vh; font-size: 40px; margin-bottom: 2vh; text-align: center;" >Notifications</div>
<div class="notification-container" >
    
    <br />
    <div class="notification" >
        <span class="notif-content-container" >
            <h3>Task Update</h3>
            Your task "Complete Project" has been updated.
        </span>
        <span class="vx-btn-container" >
            <button class="vx-btn vb-left" >&#10004;</button>
            <button class="vx-btn vb-right" >&#10006;</button>
        </span>
    </div>
    
    <div class="notification" >
        <span class="notif-content-container" >
            <h3>Welcome to the New Group!</h3>
            Youhave successfully joined the "New Group". Start interacting with other members and complete the task!
        </span>
        <span class="vx-btn-container" >
            <button class="vx-btn vb-left" >&#10004;</button>
            <button class="vx-btn vb-right" >&#10006;</button>
        </span>
    </div>
</div>
{% endblock %}
