{% extends 'header.html' %}
{% block title %}Notification{% endblock %}
{% load static %}
{% block cssLink %}
<link rel="stylesheet" href="{% static 'css/notification.css' %}">
{% endblock %}
{% block header %}
<div style="margin-top: 5vh; font-size: 40px; margin-bottom: 2vh; text-align: center;" >Notifications</div>
{% if length == 0 %}
<div id="noNotification-container" >
    <h1 class="noNotification">No new Notifications</h1>
</div>
{% else %}
<div class="notification-container" >

    <br />

</div>

<form id="sForm" method="post" action="/notificationProcess/">
    {% csrf_token %}
    <input type="hidden" name="reqEmail" id="emailForm" value="">
    <input type="hidden" name="type" value="" id="processType">
</form>

<form id="nForm" method="post" action="/readNotification/">
    <input type="hidden" name="notificationNumber" id="notNm" value="">
</form>

{% endif %}

<script>
    var sForm=document.getElementById('sForm')
    var emailForm=document.getElementById('emailForm')
    var processType=document.getElementById('processType')

    var connectionRequest=({{instance.connectionRecieved | safe}}).requests
    var notificationArray=({{instance.notification | safe}}).notifications
    //console.log('creq: ',connectionRequest)
    var notificationContainer=document.querySelector('.notification-container')
    var i=0
    connectionRequest.map((result)=>{
        var newEle=document.createElement('div')
        newEle.classList.add('notification')
        var newEle1=document.createElement('span')
        newEle1.classList.add('notif-content-container')
        var newH=document.createElement('h3')
        newH.innerHTML=`Connection Request from <i> ${result} </i>`
        newEle1.appendChild(newH)

        var Ele2=document.createElement('span')
        Ele2.classList.add('vx-btn-container')

        var btn1=document.createElement('button')
        btn1.setAttribute('onclick',`processRequest('a${i}')`)
        btn1.classList.add('vx-btn')
        btn1.classList.add('vb-left')
        btn1.innerHTML='&#10004;'

        var btn2=document.createElement('button')
        btn2.classList.add('vx-btn')
        btn2.classList.add('vb-right')
        btn2.setAttribute('onclick',`processRequest('r${i}')`)
        btn2.innerHTML='&#10006;'

        Ele2.appendChild(btn1)
        Ele2.appendChild(btn2)

        newEle.appendChild(newEle1)
        newEle.appendChild(Ele2)

        notificationContainer.appendChild(newEle)
        i++
    })

    //console.log(notificationArray)

    notificationArray.map((result)=>{

        var newEle=document.createElement('div')
        newEle.classList.add('notification')
        var newEle1=document.createElement('span')
        newEle1.classList.add('notif-content-container')
        var newH=document.createElement('h3')
        newH.innerHTML=result
        newEle1.appendChild(newH)

        var Ele2=document.createElement('span')
        Ele2.classList.add('vx-btn-container')


        var btn2=document.createElement('button')
        btn2.classList.add('vx-btn')
        btn2.classList.add('vb-lr')
        btn2.setAttribute('onclick',`processNotification('${i}')`)
        btn2.innerHTML='&#10006;'

        Ele2.appendChild(btn2)

        newEle.appendChild(newEle1)
        newEle.appendChild(Ele2)

        notificationContainer.appendChild(newEle)
        i++

    })

    function processRequest(param){

        if(param[0]=='a'){
            //console.log('accept,',param[1])
            emailForm.value=connectionRequest[param[1]]
            processType.value=1
            sForm.submit()
        }
        else{
            if(param[0]=='r'){
                //console.log('reject,',param[1])
                emailForm.value=connectionRequest[param[1]]
                processType.value=0
                sForm.submit()
            }
        }
    }
    var nForm =document.getElementById('nForm')
    var notNm=document.getElementById('notNm')
    function processNotification(id){
        notNm.value=parseInt(id)
        nForm.submit()
    }
</script>
{% endblock %}