#home-div-p {
    color: black;
    margin: 10vh 0 7vh 17vw;
    font-size: 50px;
}

#home-div-a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;
    margin-left: 17vw;
    padding: 0 1vw;
}
#home-div-a:hover {
    color: white;
    background-color: black;
}

#create, #manage, #assign {
    color: black;
    opacity: 0.1;
    font-weight: bolder;
}

#col {
    display: flex;
    align-items: center;
}

img {
    height: 60vh;
}

#err-msg {
    width: 25vw;
    font-size: x-large;
    background-color: white;
    border-left: 4px solid blue;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #d9d9d9;
    position: absolute;
    top: 10vh;
    left: -30vw;
    transition: left 700ms ease;
}
