#bellLogo{
    scale:1.2;
}

.notification-container::-webkit-scrollbar {
    display: none;
}
.notification-container {
    height: 70vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8vh 0 8vh;
}
.notification {
    width: 60vw;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #d9d9d9;
    margin-bottom: 3vh;
    display: flex;
}

.notif-content-container {
    width: 55vw;
}

.vx-btn-container {
    display: flex;
    align-items: center;
}
.vx-btn {
    height: 30px;
    padding: 0.5vh 0.8vw;
    cursor: pointer;
    background: transparent;
    border: 1px solid black;
}
.vb-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.vb-left:hover {
    background-color: #87df87;
}
.vb-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.vb-right:hover {
    background-color: #ff7171;
}
.vb-lr {
    border-radius: 4px;
    margin-left: 1.1vw;
}
.vb-lr:hover {
    background-color: #ff7171;
}
.noNotification{
    padding:3px;
    background-color: white;
    border-radius:10px;
    box-shadow: 0 0 10px 2px #d9d9d9;
    width:fit-content;
    margin-top:5vh;
    margin-left:41vw;
}