*{
    padding:0px;
    margin:0px;
}
*::-webkit-scrollbar {
    display: none;
}

.header-container{
    background: #FFFFFF;
    height:8vh;
    padding:8px;
    border-bottom: 1px solid  black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
}
.header-container img{
    height: 6vh;
    transition:all 0.1s;
}
.header-title {
    font-size: 7vh;
}
.header-navs {
    width: 17%;
    display: flex;
    justify-content: space-between;
}

.header-container img:hover{
    cursor:pointer;
    scale:1.2;
    transition:all 0.1s;
}

a{
    text-decoration: none;
    color:white;
}    

#notificationNumber{
    z-index: 1;
    position: absolute;
    transform: translate(50%, -50%);
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#err-msg {
    width: 25vw;
    font-size: x-large;
    padding-left: 0.5vw;
    background-color: white;
    border-left: 4px solid blue;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #d9d9d9;
    position: absolute;
    top: 10vh;
    left: -30vw;
    transition: left 700ms ease;
}

.hoverable {
    position: relative;
    display: inline-block;
}

.hoverable:hover::before {
    content: "testing";
    position: absolute;
}
